.dropperContainer{
    background-color: #F0F0F0;
    color: #696969;
    width: 75vw;
    font-size: max(3vh, 20px);
    height: max(10vh, 100px);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    margin: 0 auto;
    border: 2px #696969 dashed;
    font-family: 'Oxygen';
    border-radius: 4px;
    margin-top: 3vh;

}

.buttonContainer{
    text-align: center;
    padding: 3vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.uploadButton {
    margin: auto;
    background-color: #465AEE;
    color: white;
    font-family: 'Oxygen';
    border: none;
    border-radius: 1vh;
    height: max(6vh, 40px);
    width: 10vw;
    font-size: max(3vh, 20px);
}