.mainContainer {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    height: 30vh;
}

.dropperContainer{
    background-color: #262626;
    color: #BDBDBD;
    box-shadow: 
        #262626 0px 0px 3px 3px,
        #000000 2px 2px 8px,
        #4d4d4d -2px -2px 8px;
    width: 75vw;
    font-size: max(3vh, 20px);
    height: max(10vh, 100px);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    margin: 0 auto;
    font-family: 'Oxygen';
    border-radius: 4px;
    margin-top: 3vh;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.dropperContainer:hover{
    background-color: #262626;
    color: #BDBDBD;
    box-shadow: 
        #262626 0px 0px 3px 3px,
        #000000 4px 4px 8px,
        #4d4d4d -4px -4px 8px;
    width: 75vw;
    font-size: max(3vh, 20px);
    height: max(10vh, 100px);
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    text-align: center;
    margin: 0 auto;
    font-family: 'Oxygen';
    border-radius: 4px;
    margin-top: 3vh;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}


.buttonContainer{
    text-align: center;
    padding: 3vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.uploadButton {
    margin: auto;
    background-color: #262626;
    box-shadow: 
        #262626 0px 0px 3px 3px,
        #4d4d4d -2px -2px 8px,
        #000000 2px 2px 8px;
    color: #BDBDBD;
    font-family: 'Oxygen';
    border: none;
    border-radius: 1vh;
    height: max(6vh, 40px);
    width: 10vw;
    font-size: max(2vh, 18px);
    transition: 0.2s all;
}

.uploadButton:hover{
    margin: auto;
    background-color: #262626;
    box-shadow: 
        #262626 0px 0px 3px 3px,
        #4d4d4d -4px -4px 8px,
        #000000 4px 4px 8px;
    color: #BDBDBD;
    font-family: 'Oxygen';
    border: none;
    border-radius: 1vh;
    height: max(6vh, 40px);
    width: 10vw;
    font-size: max(2vh, 18px);
    transition: 0.2s all;
}

.uploadButton:active{
    margin: auto;
    background-color: #262626;
    color: #BDBDBD;
    box-shadow: none;
    font-family: 'Oxygen';
    border: none;
    border-radius: 1vh;
    height: max(6vh, 40px);
    width: 10vw;
    font-size: max(1.7vh, 15px);
}

/* Loading component CSS */

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }


.loadingComponentContainer {
    text-align: center;
}


.spinnerBox {
    width: 8vh;
    height: 8vh;
    display: flex;
    margin: auto;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .circleBorder {
    width: 4vh;
    height: 4vh;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(38,38,38,0.1) 33%, rgba(189,189,189,1) 100%);
    animation: spin .4s linear 0s infinite;
  }
  
  .circleCore {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 50%;
  }
  

  .slownoteText {
    background-color: #262626;
    color: #BDBDBD;
    font-family: 'Oxygen';
    font-size: max(1.7vh, 15px);
    margin-top: -1vh;
  }

  /* Check mark CSS */

  .checkmarkCircle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #7ac142;
    stroke-miterlimit: 10;
    margin: 2% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmarkCheck {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #262626;
    }
  }