.container{
    background-color: #262626;
    color: #BDBDBD;
    font-family: 'Oxygen';
    height: max(4vh, 40px);
    text-align: center;
    font-size: max(3vh, 20px);
    font-weight: bolder;
    padding: 1vh;
    border-bottom: 0.1px solid rgba(255,255,255,0.1);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.container span:hover,
.container span:focus {
    color:#fff;
}

