.inLineDiv {
    display: inline-block;
    margin: 10% 0 10% 0;
    width: 800px;
    box-shadow: 1px 1px 10px 1px #262626;
}

.inLineContainer {
    text-align: center;
    height: 95vh;
}

.topBar {
    height: 5vh;
    background-color: blue;
}

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }


.loadingComponentContainer {
    text-align: center;
}


.spinnerBox {
    width: 8vh;
    height: 8vh;
    display: flex;
    margin: auto;
    margin-top: 1vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .circleBorder {
    width: 4vh;
    height: 4vh;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(38,38,38,0.1) 33%, rgba(189,189,189,1) 100%);
    animation: spin .4s linear 0s infinite;
  }
  
  .circleCore {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 50%;
  }